.header {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-weight: 600;

  font-family: "NTR", sans-serif;
}
.header-title {
  font-size: 42px;
  color: whitesmoke;
}
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 27px;
    font-weight: 600;
  }
}
